<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <meta name="description" content="<%= locals.description %>">
  <link rel="stylesheet" href="/css/ToDoList.css">
  <script type="text/javascript" defer src="/js/script.js"></script>
  <script type="text/javascript" defer src="/js/fetchData.js"></script>
</head>

<body>
    <section id="Main" class="vh-100" style="background-color: #eee;">
        <h4 class="text-center my-3 pb-3">To Do App</h4>        
            <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">        
                <div class="form-outline">
                    <form id="incidentForm">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                                        
                        <label for="type">Type:</label>
                        <input type="text" id="type" name="type" required>
                                        
                        <label for="context">Context:</label>
                        <textarea id="context" name="context"></textarea>
                                        
                        <label for="deadline">Deadline:</label>
                        <input type="datetime-local" id="deadline" name="deadline" required>
                                        
                        <label for="pic">PIC:</label>
                        <input type="text" id="pic" name="pic" required>

                        <p id="error-message"></p>
                        
                    </form>
                </div>  
            
                <div id="submitBtn" class="col-12" onclick="submitForm()">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
    </section>
    <section id="List" class="vh-100" style="background-color: #eee;">
        <!--Placeholder for list of incidents-->
    </section>
</body>

<footer class="footer">
    Built with NodeJs & MongoDB
</footer>