.deleteBtn {
   background-color: #dfcd33;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
 }

.dropbtn {
   background-color: #04AA6D;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content button {
   width: 100%;
   color: rgb(0, 0, 0);
   padding: 16px 16px;
   text-decoration: none;
   text-align: center;
 }

.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.form-outline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

#incidentForm label {
  font-weight: bold;
}

#incidentForm input[type="text"],
#incidentForm textarea,
#incidentForm input[type="datetime-local"] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#incidentForm input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#incidentForm input[type="submit"]:hover {
  background-color: #0062cc;
}

.submitBtn {
  background-color: #7c0a99;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}